.header-container {
    background: #008080;
    color: #ffffff;
    display: flex;
    gap: 20px;
    padding: 10px 20px;
    width: 100%;
  }
  
  .header-link {
    font-size: 16px;
    color: #ffffff;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
  }
  